---
layout: default
---

{{ content }}


{% for post in site.posts %}
<div class="row" style="margin-top: 1%; ">
    <div class="column">
        <h5>{{ post.title}}</h5>
        <p>
            <span style="font-family: 'Roboto', monospace;">
                >>  
                <span class="postDate"> {{ post.date | date: "%b %-d, %Y" }}</span>
                -
                {% for category in post.categories %}
                    [{{category}}]
                {% endfor %}
            </span>
            
        </p>

        <p>
            {{ post.description }}
            <a href="{{ post.url }}">Read more</a>
        </p>
        <hr>

</div>

</div>

{% endfor %}


