---
layout: default
---

{{ content }}


{% for post in site.posts %}
<div class="row" style="margin-top: 1%;">
    <h5>{{ post.title}}</h5>
         

    <p>
        <i> >> Published in: 
        {% for category in post.categories %}
            [{{category}}]
        {% endfor %}
        <span class="postDate"> - {{ post.date | date: "%b %-d, %Y" }}</span>
        </i>
    </p>

    <p>
        {{ post.description }}
        <a href="{{ post.url }}">Read More</a>
    </p>
<hr>
</div>

{% endfor %}


